<div class="containter">
  <div class="row text-center">
    <div class="col-md-12">
        <h1>{{ this.texto }}</h1>
    </div>
    
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
        <button class="btn btn-primary mr-3" (click)="espanol()">ESPAÑOL</button>
        <button class="btn btn-warning" (click)="ingles()">INGLES</button>
    </div>
  </div>
  <app-frase></app-frase>
</div>