<div class="row">
    <div class="col-md-12 text-center">
        <h1 class="m-5">{{ texto }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <button class="btn btn-info mr-3" (click)="frase()">FRASE</button>
        <button class="btn btn-secondary" (click)="reset()">RESET</button>
    </div>
</div>